{% extends 'base.html' %}

{% block content %}
    {% if validlink %}
    <p> please enter( and confirm) your password </p>
        <form action="" method="POST">
        <table>
            <tr>
                <td> {{form.new_password1.erros}}
                <label for="id_new_password1"/></td>
                <td> {{form.new_password1}}</td>
                <tr>
                   <td> {{form.password2.erros }}
                    <label for="id_new_password2"/></td>
                    <td> {{form.new_password2}}</td>
                </tr>
            </tr>
            <td></td>
            <td><input type="submit" value="change my password"/></td>
        </table>
        </form>
    {% else %}
    <p>Password reset failed </p>
    <p> the password request link is invalid</p>

    {% endif %}