{% extends 'base.html'%}
{% block title%} Login {% endblock %}
{% block content %}
<div class="container align-items-center justify-content-start">
<h2> Login</h2>
    {%if form.erros %}
    <p>Your Username and your password Didn't match </p>
    {% endif %}

    {%if next %}
        {% if user.is_authenticated %}
        <p> our account doesn't have acces to this page</p>
        {%else%}
        <p> login to see this page </p>
        {%endif%}
    {%endif%}

        
<form method="POST" action="{% url 'login'%}">
    {%csrf_token%}
    <table>
        <tr>
            <td> {{form.username.label_tag }}</td>
            <td>{{form.username}}</td>
        </tr>
        <tr>
            <td> {{form.password.label_tag }}</td>
            <td>{{form.password}}</td>
        </tr>
    </table><br>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{next}}"/>
    <p> <a href="{% url 'password_reset' %}">Lost password?</a></p>
</form>
</div>
{% endblock %}